<html>
    <head>
        <script src="casparcg.js"></script>
        <link href="styles.css" rel='stylesheet'>
    </head>
    <body>
        <div class="bottom">
            <div class="left-strap-container">
                <div id="left-strap" class="left-strap-inner">
                    <div class="tab">
                        <div class="extender"></div>
                        <div class="text-outer">
                            <div class="text-inner">
                                <span id="left-strap-text" class="strap-text">BBC NEWS</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>